name: First GitHub Actions Workflow

on: 
  push:
    branches:
      - main

jobs:
  CI-Part:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Check if docker is pressent
        run: | 
          echo "Checking Docker version..."
          docker --version

          echo "Checking Docker info..."
          docker info

          echo "Listing current directory..."
          ls -la

          echo "Checking OS details..."
          uname -a
          # -------------------------
      # Stage 2 — BUild with commit ID as TAG
      # -------------------------

      - name: Set image tag
        run: echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/python-gha-lab:${{ env.IMAGE_TAG }} .
          docker images

      # -------------------------
      # Stage 3 — Push to Docker Hub
      # -------------------------
      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Stage 3 - Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/python-gha-lab:${{ env.IMAGE_TAG }}